<div class="container mt-4">
  <h2 class="text-center">Liste des départements</h2>
  <button class="btn btn-primary mb-3" (click)="createDepartement()">
    Créer un département
  </button>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let departement of departements">
        <td>{{ departement.nom }}</td>
        <td>{{ departement.description }}</td>
        <td>
          <button
            class="btn btn-info btn-sm"
            (click)="viewDepartement(departement.id)"
          >
            Détail
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteDepartement(departement.id)"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
