<div class="container mt-4">
  <h2 class="text-center">Liste des départements</h2>
  <div *ngIf="isLoading" class="text-center">
    <p>Chargement des départements...</p>
  </div>
  <!-- <button class="btn btn-primary mb-3" (click)="createDepartement()">
    Créer un département
  </button> -->
  <div *ngIf="!isLoading">
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departement of departments">
          <td>{{ departement.nameDepartment }}</td>
          <td>{{ departement.descriptionDepartment }}</td>
          <td>
            <button
              class="btn btn-info btn-sm"
              (click)="viewDepartement(departement.idDepartment)"
            >
              Détail
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteDepartement(departement.id)"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
